<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add manager</title>

</head>
<body>
<a th:href="@{/admin}">Главная</a>
<br>
<div>
    <h1>Добавить нового менеджера</h1>
</div>

<div>
    <form th:action="@{/admin/save}" th:object="${admin}" th:method="POST">
        <div class="row">
            <label> Регион: </label>
            <input type="text" th:field="*{dateOfBirth}" required>

            <label> Логин для входа: </label>
            <input type="text" th:field="*{email}" required>
        </div>
        <br>
        <div class="row">
            <label> Пароль: </label>
            <input type="text" th:field="*{password}" required>

            <label> Повторите пароль: </label>
            <input type="text" th:field="*{snils}" required>

            <p style="color: darkred" th:text="${problem}"></p>
        </div>
        <br>
        <div class="row">
            <button id="save" type="submit">Добавить менеджера</button>
        </div>
    </form>
</div>

<div>
    <table>
        <thead>
        <tr>
            <td>Регион</td>
            <td>Логин</td>
            <td>Пароль</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tr th:each="manager : ${managers}">
            <td th:text="${manager.dateOfBirth}"></td>
            <td th:text="${manager.email}"></td>
            <td th:text="${manager.password}"></td>
            <td><a th:href="@{/admin/delete/{id}(id=${manager.getId()})}">Удалить</a></td>
        </tr>
    </table>
</div>
</body>
</html>