<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redactor Company</title>
</head>
<body>
<h2>Редактор заявки от компании</h2>
<form th:action="@{/admin/edit_company}" th:object="${company}" th:method="POST">
    <div style="display: none">
        <input th:field="*{id}">
    </div>
    <div class="field">
        <label> Наименование: </label>
        <input type="text" th:field="*{name}">
    </div>
    <div class="field">
        <label> Полное наименование: </label>
        <input type="text" th:field="*{fullname}">
    </div>
    <div class="field">
        <label> Email: </label>
        <input type="email" th:field="*{email}">
    </div>
    <div class="field">
        <label> Директор: </label>
        <input type="text" th:field="*{director}">
    </div>
    <div class="field">
        <label> Основание: </label>
        <input type="text" th:field="*{osnovanie}">
    </div>
    <div class="field">
        <label> Телефон: </label>
        <input type="text" th:field="*{phone}">
    </div>
    <div class="field">
        <label> Юридический адрес: </label>
        <input type="text" th:field="*{adressUr}">
    </div>
    <div class="field">
        <label> Почтовый адрес: </label>
        <input type="text" th:field="*{adressPocht}">
    </div>
    <div class="field">
        <label> Кор счет: </label>
        <input type="text" th:field="*{korSchet}">
    </div>
    <div class="field">
        <label> ИНН/КПП: </label>
        <input type="text" th:field="*{inn_kpp}">
    </div>
    <div class="field">
        <label> Расчетный счет: </label>
        <input type="text" th:field="*{raschSchet}">
    </div>
    <div class="field">
        <label> БИК: </label>
        <input type="text" th:field="*{bik}">
    </div>
    <div class="field">
        <label> Банк: </label>
        <input type="text" th:field="*{bank}">
    </div>
    <br>
    <div class="row">
        <button id="add" type="submit">Редактировать компанию</button>
    </div>
</form>
<br>
<br>
<table>
    <thead>
    <tr>
        <td>Имя</td>
        <td>Email</td>
        <td>Пароль</td>
        <td>СНИЛС</td>
        <td>Программа</td>
        <td>Действие</td>
    </tr>
    </thead>
    <tr th:each="client : ${company.getClients()}">
        <td th:text="${client.name}"></td>
        <td th:text="${client.email}"></td>
        <td th:text="${client.password}"></td>
        <td th:text="${client.snils}"></td>
        <td th:text="${client.getTheme().getName()}"></td>
        <td><a th:href="@{/admin/edit_client/{client_id}(client_id = ${client.id})}">Редактировать</a></td>
    </tr>
</table>
<br>
<a th:href="@{/admin/table_new}">Назад</a>
</body>
</html>