<div th:insert="~{header}"></div>
<br>
<div>
    <ul><a th:href="@{/admin/table_new}">Новые заявки</a></ul>
    <ul><a th:href="@{/admin/table_payed}">Оплаченные заявки</a></ul>
    <ul><a th:href="@{/admin/table_closed}">Закрытые заявки</a></ul>
    <br>
    <ul><a th:href="@{/admin/tests_results}">Результаты тестов</a></ul>
    <br>
    <ul><a th:href="@{/admin/redactor_theme}">Редактирование вопросов</a></ul>
</div>
<br>
<div>
    <ul><a th:href="@{/admin/addNew}">Добавить админа</a></ul>
</div>
<br>
<br>
<br>
<div>
    <ul><a th:href="@{/admin/template_akt}">Шаблон акта</a></ul>
    <ul><a th:href="@{/admin/template_schet}">Шаблон счета</a></ul>
    <ul><a th:href="@{/admin/template_dogovor}">Шаблон договора</a></ul>
</div>
</body>
</html>