<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AKT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>
<body>
<br>
<a th:href="@{/admin}">Главная</a>
<br>
<div id="content">
    <center><b>АКТ<br>
        выполненных услуг</b></center>
    <p></p>
    <div>
        <center>по договору № <a th:text="${company.id}"></a>
            от <a th:text="${company.createAtToString}"></a>
            <br>
            об оказании образовательных услуг по повышению квалификации
        </center>
        &nbsp;<p>
        <table border="0" width="90%" align="center">
            <tbody>
            <tr>
                <td>г. Саратов</td>
                <td align="right"><span>«____» _______ ____г.</span></td>
            </tr>
            </tbody>
        </table>
        &nbsp;<p>
        &nbsp; &nbsp; &nbsp; Мы, нижеподписавшиеся:<br>
        <b>Образовательное учреждение:</b> Частное учреждение дополнительного профессионального образования "Приволжский
        центр повышения квалификации" (ЧУДПО "ЦПК")<br>
        <b>Заказчик:</b> <a th:text="${company.fullname}"></a><br>
        составили настоящий акт в том, что Образовательным учреждением были оказаны образовательные услуги по обучению
        специалиста(ов) Заказчика (Слушателей) на сумму <a th:text="${price}"></a> (<a th:text="${sumInWord}"></a>)
        согласно договору № <a th:text="${company.id}"></a> от <a
            th:text="${company.createAtToString}"></a> в полном объеме и с надлежащим качеством.
    </p>
        <p>&nbsp; &nbsp; &nbsp; Представители Заказчика (Слушатели) в количестве <a th:text="${countOfClients}"></a>
            человек успешно прошел (прошли) курс повышения квалификации с применением электронного обучения и
            дистанционных образовательных технологий по программам Образовательного учреждения.</p>
        <p>Документ(ы) о краткосрочном повышении квалификации Заказчиком получены.
        </p></div>
    <div><p>
        Акт составлен в 2-х экземплярах, по одному для каждой из сторон.
    </p>
        <p>
            &nbsp;<br>&nbsp;

        <table width="100%"
               style="background-color:#FFF;color:#000000; font-family:&#39;Times New Roman&#39;, Times, serif; font-size:12pt;">
            <tbody>
            <tr>
                <td align="center">От Заказчика<p>

                    ________________________________</p>
                    <p>

                        ________________/_______________/</p>
                    <p>

                        М.П.
                    </p></td>
                <td align="center">
                    От Образовательного учреждения<p>
                    Директор ЧУДПО "ЦПК"</p>
                    <p>
                        _______________________/Циденков М.К./</p>
                    <p>
                        М.П.</p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<button onclick="createPDF()">Сохранить в PDF</button>
<script>
    function createPDF() {
        var pdf = document.getElementById("content");
        var opt = {
            margin: 1,
            filename: 'akt.pdf',
            image: {type: 'jpeg', quality: 1},
            html2canvas: {scale: 2},
            jsPDF: {unit: 'in', format: 'a4', orientation: 'portrait'}
        };
        html2pdf().set(opt).from(pdf).save();
    }
</script>
</body>
</html>