<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client Page</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="Выйти">
    </form>
</div>
<h4 th:text="${'Здравствуйте, ' + client.name}"></h4>
<br>
<p th:if="${not client.isActive()}">У вас пока нет доступных курсов</p>
<div th:if="${client.isActive()}">
    <form th:action="@{/client/training}" th:object="${client}" th:method="get">
        <input style="display: none" th:field="*{id}" th:value="*{id}">
        <input type="submit" th:value="${'Пройти тестирование по программе ' + theme.name}">
    </form>
</div>
</body>
</html>