<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add one Client</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <h2>Отправить новую заявку на обучение физ лица</h2>
        <form class="addClient-form" th:action="@{/client/add}" th:object="${client}" th:method="POST">
            <div class="row">
                <label> ФИО: </label>
                <input type="text" th:field="*{name}"
                       required
                       pattern="[А-Яа-яЁё\s]{2,}[\s][А-Яа-яЁё\s]{2,}[А-Яа-яЁё\s]{0,}"
                       title="Поле должно быть заполненно в формате 'Фамилия Имя Отчество' (минимальная длина - 6 символов)">

                <label> Email: </label>
                <input type="email" th:field="*{email}" required>

                <label> СНИЛС: </label>
                <input type="text" th:field="*{snils}" minlength="11" maxlength="11" required>
            </div>
            <br>
            <div class="row">
                <button id="save" type="submit">Отправить заявку</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>