<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>
<body lang="RU"
      style="background-color:#FFF;color:#000000; font-family:'Times New Roman', Times, serif;
      font-size:11pt;">
<div id="content">
    <div id="page1" class="hid2">

        <center><h3 align="center" style="font-size:14pt;">Договор №&nbsp;&nbsp;&nbsp;<span
                class="vis">6553-00-5000</span>
        </h3>

            об оказании образовательных услуг по повышению квалификации
        </center>

        <p>
        <table align="center" width="95%" border="0" cellspacing="0" cellpadding="0"
               style="font-family:'Times New Roman', Times, serif;
               font-size:11pt;">
            <tbody>
            <tr>
                <td align="left">г. Саратов</td>
                <td class="vis" align="right"><span class="vis">11</span></td>
            </tr>
            </tbody>
        </table>


        </p>
        <p align="justify" style="text-align:justify;">&nbsp; &nbsp; Частное учреждение дополнительного
            профессионального
            образования «Приволжский центр повышения квалификации», осуществляющее деятельность на основании лицензии №
            3483
            от 01 марта 2018 года, в лице директора Циденкова М.К., действующего на основании Устава, именуемое в
            дальнейшем
            – «Образовательное учреждение»,
            <nobr> с одной стороны, и<big><br>&nbsp;</big></nobr>
        <table width="100%" border="0" cellspacing="0" cellpadding="0"
               style="border:0px;background-color:#FFF;color:#000000; font-family:'Times New Roman', Times, serif;
               font-size:11pt;">
            <tbody>
            <tr class="vis">
                <td class="vis" align="center"
                    style="border:0px;border-top:1px solid #000;border-bottom:1px solid #000;">
                    <big>&nbsp;
                        <sup align="center" style="text-align:center;"><sup>
                            <small style="text-align:center;font-size:6pt;">
                                (наименование предприятия, направляющего слушателя на обучение)
                            </small></sup></sup>
                    </big>
                </td>
            </tr>
            <tr>
                <td class="vis" style="border:0px;border-bottom:1px solid #fff;">в лице<big>&nbsp;</big><span
                        style="visibility:visible;text-color:#000000;">&nbsp;</span>
                </td>
            </tr>
            <tr>
                <td class="hidd"
                    style="border-bottom:1px solid #000;border-left:0px solid #ffffff;border-right:0px solid #ffffff;">
                    <small style="font-size:3px;">&nbsp;</small></td>
            </tr>
            </tbody>
        </table>
        действующего на основании <span class="vis"><big>&nbsp;</big> УСТАВА </span>, именуемое в дальнейшем –
        «Заказчик», с
        другой стороны, заключили в соответствии с Законодательством РФ настоящий договор о нижеследующем:<br>&nbsp;
        </p>
        <ol>
            <li>Предмет договора<p>

                1.1 Предоставление образовательных услуг сотрудникам Заказчика, именуемых в дальнейшем Слушатели, в виде
                курсов повышения квалификации с применением электронного обучения и дистанционных образовательных
                технологий, по программам Образовательного учреждения.</p>
                <p>&nbsp;

                </p></li>
            <li>Обязанности Образовательного учреждения<p>

                2.1. Организовать и обеспечить надлежащее исполнение услуг, предусмотренных разделом 1 настоящего
                договора;<br>

                2.2. Зачислить Слушателей на курсы повышения квалификации с применением электронного обучения и
                дистанционных образовательных технологий и оказать образовательные услуги в соответствии с программами
                Образовательного учреждения при исполнении п.4.3. настоящего договора;<br>

                2.3. Обеспечить доступ к интернету-сайту Образовательного учреждения (http://cpkia.ru) и
                образовательному
                порталу на данном сайте для изучения учебного материала и сдачи итогового контроля знаний;<br>

                2.4. Обеспечить каждому Слушателю, прошедшему полный курс обучения и имеющего положительные результаты
                итогового контроля знаний, выдачу соответствующих документов установленного образца, подтверждающих
                прохождение курсов повышения квалификации.<br>

                &nbsp;<br>&nbsp;
            </p></li>
            <li>Обязанности Заказчика<p>

                3.1. Предоставить Образовательному учреждению все необходимые документы и информацию, в соответствии с
                требованиями к организации учебного процесса в Образовательном учреждении (заявка от Заказчика на
                прохождение курсов повышения квалификации, с данными Слушателя (ей), копию документа об оплате услуг по
                настоящему договору, копию документа о профессиональном образовании Слушателя(ей)). Заказчик несет
                ответственность за предоставленные данные;<br>

                3.2. Произвести своевременную оплату образовательных услуг Образовательному учреждению.<br>&nbsp;
            </p></li>
        </ol>
    </div>
    <div id="page2" class="hid">
        <ol start="4">
            <li>Оплата услуг<br>&nbsp;
                <div class="vis" style="height:135pt;border:0px solid black;">
                    <span class="vis">&nbsp;5000</span> <span class="vis">&nbsp;<br>5000</span><br>
                    <span class="vis">девяносто девять</span><br>
                    <span class="vis">&nbsp;6500 рублей </span> <span
                        class="vis">(шесть тысяч пятьсот рублей 00 копеек)</span>
                </div>


            </li>
            <li>Вступление в силу и расторжение договора<p>

                5.1. Настоящий договор вступает в силу со дня его подписания сторонами; срок действия договора два
                месяца;<br>

                5.2. При отсутствии в течение двух месяцев с даты заключения договора каких-либо действий со стороны
                Заказчика по настоящему договору (предоставление документов, прохождение тестирования, сдача итогового
                контроля знаний, оплата услуг по настоящему договору) договор расторгается в одностороннем порядке по
                инициативе Образовательного учреждения;<br>
                5.3.Настоящий договор также может быть расторгнут по соглашению сторон, а также по основаниям,
                предусмотренным действующим законодательством Российской Федерации. Договор считается расторгнутым после
                письменного уведомления сторонами друг друга.</p>
                <p>&nbsp;


                </p></li>
            <li>Прочие условия<p>
                6.1. К правоотношениям сторон по настоящему договору положения ст.317.1 ГК РФ не применяются;<br>
                6.2. К договору прилагаются следующие документы, являющиеся его неотъемлемой частью: заявка и приложение
                к
                договору по форме Образовательного учреждения.</p>
                <p>&nbsp;


                </p></li>
            <li>Юридические адреса и реквизиты сторон<p>

                7.1. Образовательное учреждение:</p>
                <p>

                    ЧУДПО «ЦПК», юридический адрес: 410004, Саратов, ул. Астраханская, д.43;<br>
                    почтовый адрес: 410004, Саратов, ул. Астраханская, 43, оф.504<br>
                    ИНН 6455038915, КПП 645501001, ОКПО 75950699, ОКВЭД 80.30.3<br>
                    р/с 40703810207010004077 в АО «Экономбанк» г. Саратов<br>
                    к/с 30101810100000000722, БИК 046311722</p>
                <p>

                    7.2. Заказчик:</p>
                <div class="vis" style="height:100pt;font-weight:normal;position:static;"></div>
                <br>
            </li>
            <li>Подписи сторон<p>

                <table width="100%" border="0" cellspacing="0" cellpadding="0"
                       style="background-color:#FFF;color:#000000; font-family:'Times New Roman', Times, serif;
                       font-size:11pt;">
                    <tbody>
                    <tr>
                        <td align="center">Образовательное учреждение<p>

                            Директор ЧУДПО «ЦПК»</p>
                            <p>


                                ___________________/Циденков М.К./</p>
                            <p>

                                М.П.
                            </p></td>
                        <td align="center">Заказчик<p>


                            _________________________________</p>
                            <p>


                                __________________/______________/</p>
                            <p>

                                М.П.
                            </p></td>
                    </tr>
                    </tbody>
                </table>
                </p></li>
        </ol>
    </div>
</div>
<button onclick="createPDF()">Сохранить в PDF</button>

<script>
    function createPDF() {
        var pdf = document.getElementById("content");
        var opt = {
            margin: 1,
            filename: 'html2pdf-converted.pdf',
            image: {type: 'jpeg', quality: 1},
            html2canvas: {scale: 2},
            jsPDF: {unit: 'in', format: 'a4', orientation: 'portrait'}
        };
        html2pdf().set(opt).from(pdf).save();
    }
</script>
</body>
</html>