<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>
<body style="background-color:#FFF;
      color:#000000;
      font-family:'Times New Roman',serif;
      font-size:12pt;">
<div id="content">
    <b><u>ЧУДПО "ЦПК"</u></b>
    <p>
        <b>Адрес: 410004, Саратов, ул. Астраханская, 43, оф.507</b></p>
    <p><b>

    </b></p>
    <center><b>Платежное поручение</b></center>
    <table style="background-color:#FFF;
    color:#000000;
    font-family:'Times New Roman', Times, serif;
     font-size:12pt;"
           border="1" cellspacing="0" cellpadding="5" width="95%" align="center">
        <tbody>
        <tr>
            <td>ИНН 6455038915</td>
            <td>КПП 645501001</td>
            <td>&nbsp;</td>
            <td rowspan="2">&nbsp;</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td colspan="2">Получатель: ЧУДПО "ЦПК"</td>
            <td>Сч. №</td>
            <td>40703810207010004077</td>
        </tr>
        <tr>
            <td rowspan="2" colspan="2">Банк получателя: АО "Экономбанк" г. Саратов</td>
            <td>БИК</td>
            <td>046311722</td>
        </tr>
        <tr>
            <td>Сч. №</td>
            <td>30101810100000000722</td>
        </tr>
        </tbody>
    </table>

    <p>&nbsp;</p>
    <center><b>СЧЕТ № _______ от "____" _________________ 20____ г.</b></center>

    &nbsp;<p><b>Заказчик: </b><br><b>Плательщик: </b></p>
    <p>&nbsp;
    <table style="background-color:#FFF;color:#000000; font-family:'Times New Roman', Times, serif;
    font-size:12pt;"
           border="1" cellspacing="0" cellpadding="5" width="95%" align="center">
        <tbody>
        <tr>
            <td>№</td>
            <td>Наименование товара</td>
            <td>Единица измерения</td>
            <td>Количество</td>
            <td>Цена</td>
            <td>Сумма</td>
        </tr>
        <tr>
            <td>1.</td>
            <td>Образовательные услуги (повышение квалификации)</td>
            <td align="center">шт.</td>
            <td>
                &nbsp;
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5" align="right" style="border-bottom:0px solid black;"><b>Итого:</b></td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="5" align="right" style="border-bottom:0px solid black;border-top:0px solid black;"><b>Без
                налога (НДС).</b></td>
            <td align="center">-</td>
        </tr>
        <tr>
            <td colspan="5" align="right" style="border-top:0px solid black;"><b>Всего к оплате:</b></td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
    </p><p>
    Всего наименований 1, на сумму ___________________________</p>
    <p>
        <b>Сумма итого: _________________________________________________________________ рублей 00 копеек</b></p>
    <p>
        <b>&nbsp;</b></p>
    <p>
        &nbsp;</p>
    <p></p>
    <div class="vis">
        Директор _______________________ (Циденков М.К.)<p>&nbsp;<br>

        Бухгалтер _______________________ (Циденков М.К.)


    </p></div>
</div>
<button onclick="createPDF()">Сохранить в PDF</button>
<script>
    function createPDF() {
        var pdf = document.getElementById("content");
        var opt = {
            margin: 1,
            filename: 'html2pdf-converted.pdf',
            image: {type: 'jpeg', quality: 1},
            html2canvas: {scale: 2},
            jsPDF: {unit: 'in', format: 'a4', orientation: 'portrait'}
        };
        html2pdf().set(opt).from(pdf).save();
    }
</script>
</body>
</html>