<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
</head>
<body>

<div>
    <form th:href="@{/client/training}" th:object="${clientAnswers}" th:method="post">
        <th:block th:each="question, stats : ${questions}">
            <p th:text="${question.text} + ':'"></p>
            <th:block th:each="answer : ${question.answers}" th:with="answer = ${answer}">
                <input type="radio" th:text="${answer.text}"
                       th:field="*{clientListAnswers[__${stats.index}__]}"
                       th:name="${question.id.toString()}"
                       th:value="${answer.id}">
            </th:block>
        </th:block>
        <input type="submit" value="Отправить результат">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</div>
</body>
</html>