<div th:insert="~{header}"></div>
<div>
    <form th:href="@{/client/training}" th:object="${clientAnswers}" th:method="post">
        <div class="container-lg mt-4">
            <div class="row mt-3" th:each="question, stats : ${questions}">
                <p th:text="${question.text} + ':'"></p>
                <div class="col-sm-6 col-xs-6 my-2"
                     th:each="answer, anstats : ${question.answers}"
                     th:with="answer = ${answer}">

                    <input type="radio" th:text="${answer.text}"
                           th:field="*{clientListAnswers[__${stats.index}__]}"
                           th:name="${question.id.toString()}"
                           th:value="${answer.id}">
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-6">
                    <input type="submit" class="btn btn-success" value="Отправить результат">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>