<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Company order</title>
</head>
<body>
<h2>Добавить компанию</h2>
<form th:action="@{/company/add}" th:object="${company}" th:method="POST">
    <div class="row">
        <label> Наименование: </label>
        <input type="text" th:field="*{name}" min="3" max="100" required>

        <label> Полное наименование: </label>
        <input type="text" th:field="*{fullname}" min="5" max="200" required>

        <label> Email: </label>
        <input type="email" th:field="*{email}" required>

        <label> Директор: </label>
        <input type="text" th:field="*{director}" required>

        <label> Основание: </label>
        <input type="text" th:field="*{osnovanie}" required>

        <label> Телефон: </label>
        <input type="tel" th:field="*{phone}" required pattern="(\+7[0-9]{10}|8[0-9]{10})" placeholder="+79876543211">

        <label> Юридический адрес: </label>
        <input type="text" th:field="*{adressUr}" min="5" required>

        <label> Почтовый адрес: </label>
        <input type="text" th:field="*{adressPocht}" min="5" required>

        <label> Кор счет: </label>
        <input type="text" th:field="*{korSchet}" required>

        <label> ИНН/КПП: </label>
        <input type="text" th:field="*{inn_kpp}" required pattern="\d{10,12}[\/]\d{9}"
               placeholder="123456789101/123456789">

        <label> Расчетный счет: </label>
        <input type="text" th:field="*{raschSchet}" required>

        <label> БИК: </label>
        <input type="text" th:field="*{bik}" required>

        <label> Банк: </label>
        <input type="text" th:field="*{bank}" min="5" max="100" required>
    </div>
    <div class="row">
        <button id="add" type="submit">Добавить слушателей</button>
    </div>
</form>

<br>

</body>
</html>