<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Company order</title>
    <link rel="stylesheet" th:href="@{/addForm.css}" type="text/css"/>
</head>
<body>
<div class="login-page">
    <div class="form">
        <h2>Добавить компанию</h2>
        <form class="register-form" th:action="@{/company/add}" th:object="${company}" th:method="POST">
            <div class="row">
                <label> Наименование: </label>
                <input type="text" th:field="*{name}" minlength="3" maxlength="100" required>

                <label> Полное наименование: </label>
                <input type="text" th:field="*{fullname}" minlength="5" maxlength="200" required>

                <label> Email: </label>
                <input type="email" th:field="*{email}" required>

                <label> Директор (должность, ФИО полностью) в родительном падеже: </label>
                <input type="text" th:field="*{director}" required pattern="[А-Яа-яЁё\s]{3,}[,][А-Яа-яЁё\s]{6,}"
                       title="Поле должно быть заполненно в формате 'должность, ФИО в Р.П.' (минимальная длина - 12 символов)"
                       placeholder="Директора, Иванова Ивана Ивановича">

                <label> Основание: </label>
                <input type="text" th:field="*{osnovanie}" required>

                <label> Телефон: </label>
                <input type="tel" th:field="*{phone}" required pattern="(\+7[0-9]{10}|8[0-9]{10})"
                       placeholder="+79876543211">

                <label> Юридический адрес: </label>
                <input type="text" th:field="*{adressUr}" minlength="5" required>

                <label> Почтовый адрес: </label>
                <input type="text" th:field="*{adressPocht}" minlength="5" required>

                <label> Кор счет: </label>
                <input type="text" th:field="*{korSchet}" required>

                <label> ИНН/КПП: </label>
                <input type="text" th:field="*{inn_kpp}" required pattern="\d{10,12}[\/]\d{9}"
                       placeholder="123456789101/123456789" title="Формат __________/_________">

                <label> Расчетный счет: </label>
                <input type="text" th:field="*{raschSchet}" required>

                <label> БИК: </label>
                <input type="text" th:field="*{bik}" required>

                <label> Банк: </label>
                <input type="text" th:field="*{bank}" min="5" max="100" required>
            </div>
            <div class="row">
                <button id="add" type="submit">Добавить слушателей</button>
            </div>
        </form>
        <br>
    </div>
</div>
</body>
</html>