<div th:insert="~{header}"></div>
<br>
<div class="mx-2">
    <p th:if="${not client.isActive()}">У вас пока нет доступных курсов</p>
    <div th:if="${client.isActive()}">
        <form th:action="@{/client/training}" th:object="${client}" th:method="get">
            <input style="display: none" th:field="*{id}" th:value="*{id}">
            <input type="submit" th:value="${'Пройти тестирование по программе ' + theme.name}">
        </form>

        <p>Материалы для подготовки</p>
        <div th:each="question : ${theme.questions}">
            <a th:if="${question.material != null}" th:text="${question.material}" th:href="${question.material}"></a>
        </div>
    </div>
    <br>
    <div th:if="${not client.getAnswersId().isEmpty() and not client.isActive()}">
        <a th:href="@{/client/results/{id}(id = ${client.id})}">Результат <span
                th:text="${'по программе ' + client.theme.name}"></span></a>
    </div>
</div>
</body>
</html>