<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>
<body style="background-color:#FFF;color:#000000; font-family:&#39;Times New Roman&#39;, Times, serif; font-size:12pt;">
<div id="content">
    <center><b>АКТ<br>
        выполненных услуг</b></center>
    <p></p>
    <div class="hid">
        <center>по договору № _______ от "____" _________________ 20____ г.<br>
            об оказании образовательных услуг по повышению квалификации
        </center>
        &nbsp;<p>
        <table border="0" width="90%" align="center">
            <tbody>
            <tr>
                <td>г. Саратов</td>
                <td align="right">"___"____________ 20___г.</td>
            </tr>
            </tbody>
        </table>
        &nbsp;</p><p>
        &nbsp; &nbsp; &nbsp; Мы, нижеподписавшиеся:<br>
        <b>Образовательное учреждение:</b> Частное учреждение дополнительного профессионального образования "Приволжский
        центр повышения квалификации" (ЧУДПО "ЦПК")<br>
        <b>Заказчик:</b> ______________________________________________<br>
        составили настоящий акт в том, что Образовательным учреждением были оказаны образовательные услуги по обучению
        специалиста(ов) Заказчика (Слушателей) на сумму _____________________________________________________________
        рублей
        00 копеек согласно договору № _______ от "____" _________________ 20____ г. в полном объеме и с надлежащим
        качеством.
    </p>
        <p>&nbsp; &nbsp; &nbsp; Представители Заказчика (Слушатели) в количестве _________ человек успешно прошел
            (прошли)
            курс повышения квалификации с применением электронного обучения и дистанционных образовательных технологий
            по
            программам Образовательного учреждения.</p>
        <p>Документ(ы) о краткосрочном повышении квалификации Заказчиком получены.
        </p></div>
    <p>
        Акт составлен в 2-х экземплярах, по одному для каждой из сторон.
    </p>
    <p>
        &nbsp;<br>&nbsp;

    <table width="100%"
           style="background-color:#FFF;color:#000000; font-family:'Times New Roman', Times, serif;
           font-size:12pt;">
        <tbody>
        <tr>
            <td align="center">От Заказчика<p>

                ________________________________</p>
                <p>

                    ________________/_______________/</p>
                <p>

                    М.П.
                </p></td>
            <td align="center">
                От Образовательного учреждения<p>
                Директор ЧУДПО "ЦПК"</p>
                <p>
                    _______________________/Циденков М.К./</p>
                <p>
                    М.П.</p></td>
        </tr>
        </tbody>
    </table>
    </p>
</div>
<div style="display: inline-block">
    <button onclick="createPDF()">Сохранить в PDF</button>
    <button onclick="Export2Word('content', 'Акт');">Сохранить в DOC</button>
</div>

<script>
    function Export2Word(element, filename = '') {
        var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
        var postHtml = "</body></html>";
        var html = preHtml + document.getElementById(element).innerHTML + postHtml;
        var blob = new Blob(['\ufeff', html], {
            type: 'application/msword'
        });
        var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
        filename = filename ? filename + '.doc' : 'document.doc';
        var downloadLink = document.createElement("a");
        document.body.appendChild(downloadLink);
        if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            downloadLink.href = url;
            downloadLink.download = filename;
            downloadLink.click();
        }
        document.body.removeChild(downloadLink);
    }
</script>

<script>
    function createPDF() {
        var pdf = document.getElementById("content");
        var opt = {
            margin: 1,
            filename: 'Акт.pdf',
            image: {type: 'jpeg', quality: 1},
            html2canvas: {scale: 2},
            jsPDF: {unit: 'in', format: 'a4', orientation: 'portrait'}
        };
        html2pdf().set(opt).from(pdf).save();
    }
</script>
</body>
</html>